<!DOCTYPE html>
<html>
<head>
  <title>Marvelous</title>

  <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
</head>
<body>
  <div id="app">
    This App is Marvelous
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.2/vue.min.js"></script>
  <script type="text/javascript" src="/assets/js/app.js"></script>
</body>
</html>
